@page "/image"
@layout EmptyLayout

<h3>ImageInputFile</h3>

<InputFile OnChange="OnImageSelected" accept=".png,.jpg,.jpeg" />

@if (!string.IsNullOrEmpty(imagePreview))
{
	<img src="@imagePreview" width="200" />
}

@code {
    private string? imagePreview;

    private async Task OnImageSelected(InputFileChangeEventArgs e)
    {
        var file = e.File;

        using var stream = file.OpenReadStream(maxAllowedSize: 5 * 1024 * 1024);
        using var ms = new MemoryStream();

        await stream.CopyToAsync(ms);

        var base64 = Convert.ToBase64String(ms.ToArray());

        imagePreview = $"data:{file.ContentType};base64,{base64}";
    }
}
