@using BlazorApp1.Components.Pages.ParentChildComponents.ParentComponents.Model

@* <label>Id</label>
<InputNumber @bind-Value="Newtask.Id"></InputNumber> *@

<label>Task</label><br />
<InputTextArea @bind-Value="Newtask.Task"></InputTextArea>
<br />
<br />
<label>Priority</label>
<br />
<select @bind="Newtask.Priority"><br />
	<option></option>
	<option value="low">low</option>
	<option value="medium">medium</option>
	<option value="high">high</option>
</select>
<br />
<br />

<label>Status</label>
<br />
<InputRadioGroup TValue="string" @bind-Value="Newtask.Status">
	<InputRadio TValue="string" Value=@("Todo") />Todo<br />
	<InputRadio TValue="string" Value=@("Process") />Process<br />
	<InputRadio TValue="string" Value=@("Completed") />Completed<br />
</InputRadioGroup>
<br />
<br />
@code {
	[Parameter]
	public TaskModel? Newtask { get; set; }
}
