@inherits LayoutComponentBase

<h3>Blog App</h3>

<div>
	<ul>
		<li>
			<NavLink href="/Home" Match="NavLinkMatch.All">Home</NavLink>
		</li>
		<li>
			<NavLink href="/category">Categories</NavLink>
		</li>
		<li>
			<NavLink href="/search?query=blazor">Search</NavLink>
		</li>
		<li>
			<NavLink href="/profile">Profile</NavLink>
		</li>
	</ul>
</div>
@Body

