@inherits LayoutComponentBase

<h3>Blog App</h3>

<div>
	<ul>
		<li>Home</li>
		<li>
			<select>
				<option>Blog post</option>
				<option>1</option>
				<option>2</option>
				<option>3</option>
				<option>4</option>
			</select>
		</li>
		<li>About</li>
	</ul>
</div>
@Body