
ul {
	display: grid;
	grid-template-columns: auto auto auto auto;
	gap: 10px;
/*	margin-left: 100px;*/
	text-align: center;
	padding:20px;
	background-color:aliceblue;
	margin-top: 0;
}

li {
	list-style: none; 
	text-decoration:none;
/*	background-color:aliceblue;*/

}

select{
	border: none;
}

h3{
	text-align:center;
	padding:20px;
	font-weight:900;
	background-color:azure;
	margin-bottom:0;
}