@inherits LayoutComponentBase 

<div class="main">
    <header class="header">
        <h3 class="profile-title">DashBoard</h3>
    </header>

    <div class="content">
        @Body
    </div>
 
</div>
