@page "/TaskManager"
@using BlazorApp1.Components.Pages.ParentChildComponents.ParentComponents.Model;
@using BlazorApp1.Components.Pages.ParentChildComponents.ChildComponents.UI;
@layout EmptyLayout
@rendermode InteractiveServer 

<h3>TaskManager</h3>
<ChildAddTaskManager Newtask=@_task></ChildAddTaskManager>
<button @onclick="AddNewTask">Add</button>



@childEditComponent
 <button @onclick="UpdateNewTask">Update</button>


<table>
    <tr>
        <td>Id</td>
		<td>Name</td>
		<td>Task</td>
		<td>Edit</td>
    </tr>
	@if (Tasks is not null)
	{
		@foreach (var task in Tasks)
		{
			<tr>
				<td>@task.Id</td>
				<td>@task.UserName</td>
				<td>@task.Task</td>
				<td><button @onclick="()=> EditTask(task.Id)">Edit</button></td>
			</tr>
		}
	}
</table>


@code {
	TaskModel _task = new TaskModel();
	List<TaskModel> Tasks = new List<TaskModel>();

	private RenderFragment childEditComponent;

	public void AddNewTask()
	{
		Tasks.Add
		(
			new TaskModel
			{
				Id = _task.Id,
				Task = _task.Task,
				UserName = _task.UserName,
			}	
		);
	}

	public void EditTask(int? Id)
	{
		childEditComponent = builder =>
		{
			builder.OpenComponent(0, typeof(ChildEditTaskManager));
			builder.AddAttribute(1, "EditModel", _task);
			builder.CloseComponent();
		};
	}

	public void UpdateNewTask()
	{
		
	}
}
