@page "/greetingapp"

@using Microsoft.Extensions.Localization
@* @using BlazorApp1.Components.Pages.Localization.GreetingApp.Resources *@
@using System.Globalization
@inject NavigationManager navManager
@inject IStringLocalizer<Shared> localizer

<h3>Localization Demo</h3>

<select @bind="culture">

    <option value="">--Select--</option>
    <option value="en-US">English</option>
    <option value="ta-IN">Tamil</option>
</select>

@code{

    protected void OnIntialized()
    {
        culture = CultureInfo.CurrentCulture;
    }

    private CultureInfo culture
    {
        get { return CultureInfo.CurrentCulture; }

        set
        {
            if (CultureInfo.CurrentCulture != value)
            {
                var uri = new Uri(navManager.Uri).GetComponents(UriComponents.PathAndQuery, UriFormat.Unescaped);
                var cultureEscaped = Uri.EscapeDataString(value.Name);
                var uriEscaped = Uri.EscapeDataString(uri);

                navManager.NavigateTo($"Culture/Set?culture={cultureEscaped}&redirectUri={uriEscaped}", forceLoad: true);
            }
        }

    }
}