@* Displays all Tasks *@

@page "/"
@layout Layout

<div class="dashboard-grid">
	<div class="task">
		<p>User Profile</p>
		<NavLink class="nav-link" href="UserProfile" style="color: darkblue">
			 -> click to view
		</NavLink>
	</div>

	<div class="task">
		<p>Update Values(One way Binding)</p>
		<NavLink class="nav-link" href="Bind" style="color: darkblue">
			-> click to view
		</NavLink>
	</div>

	<div class="task">
		<p>Calculator(Two way Binding)</p>
		<NavLink class="nav-link" href="TwowayBinding" style="color: darkblue">
			-> click to view
		</NavLink>
	</div>

	<div class="task">
		<p>Event Handling</p>
		<NavLink class="nav-link" href="EventHandling" style="color: darkblue">
			-> click to view
		</NavLink>
	</div>

	<div class="task">
		<p>Routes Parameter</p>
		<NavLink class="nav-link" href="counter" style="color: darkblue">
			-> click to view
		</NavLink>
	</div>
	<div class="task">
		<p>Blog App</p>
		<NavLink class="nav-link" href="Home" style="color: darkblue">
			-> click to view
		</NavLink>
	</div>
	<div class="task">
		<p>Todo App</p>
		<NavLink class="nav-link" href="Todo" style="color: darkblue">
			-> click to view
		</NavLink>
	</div>
	<div class="task">
		<p>Weather App</p>
		<NavLink class="nav-link" href="Weather" style="color: darkblue">
			-> click to view
		</NavLink>
	</div>

</div>
@code {

}
