@page "/MapViewerApp"

@inject IJSRuntime JS


<button @onclick="LoadMap">
    Load Map
</button>
<div id="map" style="height:500px;"></div>


@code {

    async Task LoadMap()
    {
        await JS.InvokeVoidAsync("loadMap");
    }

}